/* STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
html {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
a {
  text-decoration: none;
  text-align: center;
  display: block;
}
.country-page-link {
  text-align: left;
}
th:first-child,
td:first-child {
  text-align: left;
  padding-left: 10%;
}
th:last-child,
td:last-child {
  text-align: right;
  padding-right: 10%;
}

/* Country view
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-field,
.btn-override {
  width: 100%;
  display: block;
}

/* CONTENT LOADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: #fff;
}

.airplane-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wings {
  background: #ededed;
  @include centerer;
  width: 120px;
  height: 3px;
  animation: wings 1s infinite ease;
  animation-timing-function: cubic-bezier(0.57, -0.28, 0.37, 0.88);
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #f3721c;
  @include centerer;
  animation: circle_ani 0.5 infinate ease;
}

.arc {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 5px #dfdfc2;
  position: absolute;
  @include centerer;
  border-left: solid 3px rgba(223, 223, 194, 0);
  border-right: solid 3px rgba(223, 223, 194, 0);
  border-bottom: solid 3px rgba(223, 223, 194, 0);
  animation: spin2 1s infinite ease;
}

.arc2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 5px rgba(255, 235, 78, 1);
  position: absolute;
  @include centerer;
  border-left: solid 3px rgba(255, 235, 78, 0);
  border-right: solid 3px rgba(255, 235, 78, 0);
  border-bottom: solid 3px rgba(255, 235, 78, 0);
  //transform: translate( -50%, -50% );
  transform: rotateZ(180deg);
  animation: spin 1s infinite ease;
}

@keyframes circle_ani {
  0%,
  100% {
    transform: scale(10, 10);
  }
  50% {
    transform: scale(-10, -10);
  }
}

@keyframes spin {
  0%,
  100% {
    transform: translate(-50%, -50%) rotateZ(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateZ(-900deg);
  }
}

@keyframes spin2 {
  0%,
  100% {
    transform: translate(-50%, -50%) rotateZ(-180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateZ(900deg);
  }
}

@keyframes wings {
  0%,
  100% {
    transform: translate(-50%, -50%) rotateZ(-4deg);
  }
  50% {
    transform: translate(-50%, -50%) rotateZ(4deg);
  }
}
